<div class="container">

    <div class="jumbotron" style="text-align: center">
        <img src="https://www.jing.fm/clipimg/full/216-2168401_cute-food-gif-transparent-clipart-png-download-hamburger.png"
            style="height: 350px; width: 250px">
        <h1>Eat da Burger!</h1>
    </div>
    <br>

    <div class="row">

        <div class="col-md-6">
            <h2>Want to eat the burger?</h2>
            <br>
            <ul>
                {{#each burgers}}
                {{#unless devoured}}
                {{> burgers/burger-block devour=true}}
                <hr>
                {{/unless}}
                {{/each}}
            </ul>
        </div>

        <div class="col-md-6">
            <h2>Burgers Devoured</h2>
            <br>
            <ul>
                {{#each burgers}}
                {{#if devoured}}
                {{this.id}} - {{this.burger_name}}
                <hr>
                {{/if}}
                {{/each}}
            </ul>

        </div>
    </div>

    <div class="col-md-6 offset-md-3">
        <h2>Add a burger</h2>
        <form class="create-form">

            <div class="form-group">
                <label>New Burger:</label>
                <input type="text" id="newburger" name="burger">
            </div>
            <button class="btn-dark" type="submit">Add Burger</button>
        </form>
    </div>
    <br>
    <br>
    <br>
    <br>

</div>